@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base {
  @font-face {
    font-family: 'OpenSans';
    src: local('OpenSans'), url('./fonts/OpenSans.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Lato';
    src: local('Lato'), url('./fonts/Lato.ttf') format('truetype');
  }

  html {
    font-family: "Lato";
  }
}
